<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <div id="projects" class="container">
    <h2 class="text-center mb-4">My Projects</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img
            src="../../assets/mars-rover.jpg"
            class="card-img-top mx-auto"
            alt="Mars Rover"
          />
          <div class="card-body">
            <h5 class="card-title">Mars Rover</h5>
            <p class="card-text">
              Successfully tackled the Mars Rovers kata using Java, devoid of
              any frameworks
            </p>
            <a
              href="https://github.com/rpjansma/mars-rovers"
              target="_blank"
              class="btn btn-primary"
              >Details</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img
            src="../../assets/calendar.jpg"
            class="card-img-top mx-auto"
            alt="Events Backend"
          />
          <div class="card-body">
            <h5 class="card-title">User and Events Manager</h5>
            <p class="card-text">
              Node.js-powered Rest API for Events and Authentication. Seamlessly
              manage event creation, editing, and deletion. Additionally,
              leverage the authentication feature for user validation
            </p>
            <a
              href="https://github.com/rpjansma/events"
              target="_blank"
              class="btn btn-primary"
              >Details</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img
            src="../../assets/echo.png"
            class="card-img-top mx-auto"
            alt="Events Backend"
          />
          <div class="card-body">
            <h5 class="card-title">Echo</h5>
            <p class="card-text">
              Angular 12-based interface for monitoring financial indexes,
              driven by the Events API
            </p>
            <a
              href="https://github.com/rpjansma/echo"
              target="_blank"
              class="btn btn-primary"
              >Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
