<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <div id="skills" class="container">
    <h2 class="text-center mb-4">Main Skills</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title">Programming Languages</h4>
            <ul class="list-unstyled">
              <li>
                Kotlin/Java
                <span class="badge rounded-pill bg-success">Advanced</span>
              </li>
              <li>
                TypeScript
                <span class="badge rounded-pill bg-primary">Intermediate</span>
              </li>
              <li>
                HTML/CSS
                <span class="badge rounded-pill bg-primary">Intermediate</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title">Frameworks and Libraries</h4>
            <ul class="list-unstyled">
              <li>
                Spring Echosystem
                <span class="badge rounded-pill bg-success">Advanced</span>
              </li>
              <li>
                Angular
                <span class="badge rounded-pill bg-primary">Intermediate</span>
              </li>
              <li>
                RxJS
                <span class="badge rounded-pill bg-primary">Intermediate</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title">DevOps</h4>
            <ul class="list-unstyled">
              <li>
                Jenkins
                <span class="badge rounded-pill bg-success">Advanced</span>
              </li>
              <li>
                AWS
                <span class="badge rounded-pill bg-primary">Intermediate</span>
              </li>
              <li>
                Azure Cloud/Devops
                <span class="badge rounded-pill bg-primary">Intermediate</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="card-title">Communication Protocols</h4>
            <ul class="list-unstyled">
              <li>
                HTTP
                <span class="badge rounded-pill bg-success">Advanced</span>
              </li>
              <li>
                Kafka Messaging
                <span class="badge rounded-pill bg-success">Advanced</span>
              </li>
              <li>
                SOAP
                <span class="badge rounded-pill bg-primary">Intermediate</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
