<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Page Not Found</title>
    <style>
      .not-found-container {
        text-align: center;
        margin-top: 100px;
      }

      .not-found-container h2 {
        color: #dc3545;
        font-size: 2.5rem;
        margin-top: 20px;
      }

      .not-found-container p {
        font-size: 1.2rem;
        margin-top: 15px;
      }

      .not-found-container img {
        max-width: 100%;
        height: auto;
        margin-top: 30px;
      }
    </style>
  </head>

  <body>
    <div class="container not-found-container">
      <h2 class="mt-5 pt-3">Page Not Found - 404</h2>

      <p>
        <strong>
          The link you have accessed may be broken or the page may have been
          removed.
        </strong>
      </p>

      <a href="/" class="btn btn-secondary mt-3 mb-4">Go to Home Page</a>
    </div>
  </body>
</html>
