<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <section id="home">
      <div class="container mt-5" id="home">
        <div class="row">
          <div class="col-md-6">
            <h1 class="display-4 mb-1 principal-greetings">Hey,</h1>
            <h4 class="mb-4 second-greetings">
              Let's build something awesome?
            </h4>

            <p class="lead">
              Hello, I'm <strong>Raul Paes</strong>, a seasoned software
              engineer at PagBank. With over three years of experience in the
              fintech industry, I specialize in crafting robust, maintainable,
              and innovative solutions tailored to meet both customer needs and
              business objectives.
            </p>

            <div class="mt-4 mb-4">
              <a
                href="https://www.linkedin.com/in/raul-paes"
                target="_blank"
                class="btn btn-primary me-2"
                >LinkedIn</a
              >
              <a
                href="https://github.com/rpjansma"
                target="_blank"
                class="btn btn-dark"
                >GitHub</a
              >
            </div>
          </div>

          <div class="col-md-6">
            <form [formGroup]="emailForm" (ngSubmit)="open()">
              <h3 class="mb-3">Contact me</h3>

              <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Name"
                />
                <error-message
                  *ngIf="isRequiredAndTouched('name')"
                  text="Name is required"
                ></error-message>
              </div>

              <div class="mb-3">
                <label for="message" class="form-label">Your Message</label>
                <textarea
                  formControlName="message"
                  class="form-control"
                  id="message"
                  rows="4"
                  placeholder="Write your message here"
                ></textarea>
                <error-message
                  *ngIf="isRequiredAndTouched('message')"
                  text="Message is required"
                ></error-message>
              </div>

              <button
                type="submit"
                class="btn btn-success"
                [attr.href]="
                  'mailto:rpjansma@gmail.com?subject=' +
                  'New Message From ' +
                  emailForm.get('name')?.value +
                  '&body=' +
                  emailForm.get('message')?.value
                "
                onclick="window.open(this.getAttribute('href'), '_blank'); return false;"
                [disabled]="emailForm.invalid"
              >
                Send Message
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="projects" class="bg-light py-5">
      <projects></projects>
    </section>

    <section id="skills" class="py-5 bg-light">
      <skills></skills>
    </section>
  </body>
</html>
