<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet" />
  <title>Portfolio</title>
</head>

<body>
  <header>
    <h1>Raul Paes</h1>
    <h2>Software engineer for fintechs and beyond.</h2>
    <p>
      Offering 5+ years of expertise in crafting scalable and reliable solutions.
      Let's build something amazing together.
    </p>
    <div class="cta-links">
      <a href="https://www.linkedin.com/in/raul-paes" target="_blank">Email me</a>
      <a href="https://github.com/rpjansma" target="_blank">GitHub</a>
    </div>
  </header>

  <section class="main-image">
    <img src="../../../assets/dev.jpg" alt="Raul sitting in an inspiring workspace" />
  </section>

  <footer>

  </footer>
</body>

</html>
