.container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  font-weight: 600;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Margin */
@media (max-width: 767px) {
  .mb-sm-4 {
    margin-bottom: 1.5rem !important;
  }
}

body {
  background-color: #f8f9fa;
  color: #495057;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 5px;
  margin: 10px 0;
}

h2 {
  color: #205792;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  margin-bottom: 10px;
}
