a{
  color: #343a40;
  transition: .3s ease;
  :hover{
    color: red;
    transition: .3s ease;
  }
}

.gradient-color{
  background: linear-gradient(to bottom,  rgb(255, 255, 255), rgb(230, 230, 230), #afafaf79);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
