<div class="text-center text-md-start bg-light text-muted mt-4 sticky-bottom footer">
  <div class="p-2 gradient-color">
    <ul class="nav justify-content-center">
      <li class="nav-item text-center">
        <a class="nav-link active fw-bold" [routerLink]="['']" fragment="home">Home</a>
        <a class="nav-link active fw-bold" [routerLink]="['']" fragment="home">How to contact me</a>
      </li>
    </ul>
    <div class="text-center text-size-1">
      <p>Based in São Paulo. Partnering globally.</p>
    </div>
  </div>
</div>
